{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            课程
            {% if class_id == '0' %}
            {% else %}
{#            <a href="{% url "crm:add_course" class_id %}?{{ next_url }}" class="btn-sm btn-success" style="float: right">添加</a>#}
            {% endif %}
        </div>


        <div class="panel-body">
            <form action="" method="get" class="pull-right form-inline" style="margin-bottom: 10px">
                <input type="text" class="form-control" name="query">
                <button class=" btn btn-sm btn-primary">搜索<i class="fa fa-search"></i></button>
            </form>
            <form action="" method="post" class="form-inline" style="margin-bottom: 10px">
                {% csrf_token %}


{#                <select name="action" id="" class="form-control">#}
{#                    <option value="">请选择</option>#}
{#                    <option value="multi_init">初始化学习记录</option>#}
{#                    <option value="multi_apply">放入私户</option>#}
{#                    <option value="multi_pub">放入公户</option>#}
{#                </select>#}
{##}
{#                <button class="btn btn-primary btn-sm" style="margin-top:5px; margin-left: 5px">提交</button>#}

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="text-center">
{#                        <th class="text-center">选择</th>#}
                        <th class="text-center">编号</th>
                        <th class="text-center">课程</th>
                        <th class="text-center">学生</th>
                        <th class="text-center">出勤</th>
                        <th class="text-center">分数</th>
                        <th class="text-center">批注</th>
                        <th class="text-center">日期</th>
                        <th class="text-center">作业</th>
{#                        {% if request.path_info == '/crm/my_customer/' %}#}
{#                            <th class="text-center">报名记录</th>#}
{#                        {% endif %}#}
{#                        <th class="text-center">编辑</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in study_objs %}
                        <tr class="text-center">
{#                            <td><input type="checkbox" name='id' value="{{ i.id }}"></td>#}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.course_record.course_title }}</td>
                            <td>{{ i.student }}</td>
                            <td>{{ i.get_attendance_display }}</td>
                            <td>{{ i.score }}</td>
                            <td>{{ i.homework_note }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.homework }}</td>

{#                            {% if request.path_info == '/crm/my_customer/' %}#}
{#                                <td>{{ i.show_enroll }}</td>#}
{#                            {% endif %}#}
{#                            <td class="text-center"><a href="{% url 'crm:edit_course' i.id %}?{{ next_url }}"><i#}
{#                                    class="fa fa-edit fa-fw"></i></a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ page }}
                    </ul>
                </nav>
            </form>
        </div>

    </div>
{% endblock %}